<vmo-progress-spinner [hasLoaded]="! loading">
  <div class="vmo-scrollable-area">
    <div class="vmo-container --fillOnMobile">
      <md-card class="u-spacing-between">
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class="mdc-typography--headline strong">
            Daily Top
          </span>
          <div class="u-fill"></div>
          <button *ngIf="! dailyTeamAwardListService.isComplete()"
                  md-button
                  color="accent"
                  class="pushed-right"
                  routerLink="daily">View all</button>
        </div>
        <md-divider></md-divider>
        <span *ngIf="!dailyAwards?.length"
              class="mdc-typography--body1 u-weak">No daily top teams calculated yet. Check back tomorrow!</span>
        <div *ngIf="dailyAwards?.length" class="u-horizontal-scrolling" fxLayout="row" fxLayoutGap="24px">
          <div *ngFor="let award of dailyAwards"
               fxLayout="column"
               fxLayoutAlign="center center"
               fxLayoutGap="12px"
               [class.u-faded]="award.awardable.deletedAt"
               class="wall-of-fame-item">
            <div class="u-avatar u-default-avatar u-avatar--big u-center u-clickable u-elevated"
                 fxLayoutAlign="center center"
                 [routerLink]="'../../teams/' + award.awardable.id">
              <md-icon class="medium-face team-icon">group</md-icon>
            </div>
            <div class="u-ellipsis u-text-center" style="width: 100%">
              <div class="mdc-typography--caption u-weak u-text-center">{{ formatDay(award.day) }}</div>
              <span class="mdc-typography--title wall-of-fame-name strong">
                {{ award.awardable.name }}
              </span>
              <div class="mdc-typography--subheading strong u-text-center">
                <md-icon class="u-weak u-push-right u-tad-down u-trophy-color --bronze">star</md-icon>
                {{ award.value }}
              </div>
            </div>
          </div>
        </div>
      </md-card>

      <md-card class="u-spacing-between">
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class="mdc-typography--headline strong">
            Weekly Top
          </span>
          <div class="u-fill"></div>
          <!--<button *ngIf="! weeklyTeamAwardListService.isComplete()"-->
                  <!--md-button-->
                  <!--color="accent"-->
                  <!--class="pushed-right"-->
                  <!--routerLink="weekly">-->
            <!--View all-->
          <!--</button>-->
        </div>
        <md-divider></md-divider>
        <span *ngIf="!weeklyAwards?.length"
              class="mdc-typography--body1 u-weak">No weekly top teams calculated yet. Check back next week!</span>
        <div *ngIf="weeklyAwards?.length" class="u-horizontal-scrolling" fxLayout="row" fxLayoutGap="24px">
          <div *ngFor="let award of weeklyAwards"
               fxLayout="column"
               fxLayoutAlign="center center"
               fxLayoutGap="12px"
               [class.u-faded]="award.awardable.deletedAt"
               class="wall-of-fame-item">
            <div class="u-avatar u-default-avatar u-avatar--big u-center u-clickable u-elevated"
                 fxLayoutAlign="center center"
                 [routerLink]="'../../teams/' + award.awardable.id">
              <md-icon class="medium-face team-icon">group</md-icon>
            </div>
            <div class="u-ellipsis u-text-center" style="width: 100%">
              <div class="mdc-typography--caption u-weak u-text-center">Week {{ award.week }}</div>
              <span class="mdc-typography--title wall-of-fame-name strong">
                {{ award.awardable.name }}
              </span>
              <div class="mdc-typography--subheading strong u-text-center">
                <md-icon class="u-weak u-push-right u-tad-down u-trophy-color --silver">star</md-icon>
                {{ award.value }}
              </div>
            </div>
          </div>
        </div>
      </md-card>

      <md-card class="u-spacing-between">
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class="mdc-typography--headline strong">
            Monthly Top
          </span>
          <div class="u-fill"></div>
          <button *ngIf="! monthlyTeamAwardListService.isComplete()"
                  md-button
                  color="accent"
                  class="pushed-right"
                  routerLink="monthly">View all
          </button>
        </div>
        <md-divider></md-divider>
        <span *ngIf="!monthlyAwards?.length"
              class="mdc-typography--body1 u-weak">No monthly top teams calculated yet. Check back next month!</span>
        <div *ngIf="monthlyAwards?.length" class="u-horizontal-scrolling" fxLayout="row" fxLayoutGap="24px">
          <div *ngFor="let award of monthlyAwards"
               fxLayout="column"
               fxLayoutAlign="center center"
               fxLayoutGap="12px"
               [class.u-faded]="award.awardable.deletedAt"
               class="wall-of-fame-item">
            <div class="u-avatar u-default-avatar u-avatar--big u-center u-clickable u-elevated"
                 fxLayoutAlign="center center"
                 [routerLink]="'../../teams/' + award.awardable.id">
              <md-icon class="medium-face team-icon">group</md-icon>
            </div>
            <div class="u-ellipsis u-text-center" style="width: 100%">
              <div class="mdc-typography--caption u-weak u-text-center">{{ award.month | amDateFormat: 'MMMM' }}</div>
              <span class="mdc-typography--title wall-of-fame-name strong">
                {{ award.awardable.name }}
              </span>
              <div class="mdc-typography--subheading strong u-text-center">
                <md-icon class="u-weak u-push-right u-tad-down u-trophy-color --gold">star</md-icon>
                {{ award.value }}
              </div>
            </div>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</vmo-progress-spinner>

<router-outlet></router-outlet>