<md-card class="top-card" *ngIf="datepicker.visible">
  <div fxLayout="row" fxLayoutGap="16px">
    <div fxFlex="50">
      <md-input-container color="accent">
        <input #afterDateInput
               mdInput
               placeholder="From"
               [mdDatepicker]="afterPicker"
               [ngModel]="after"
               (ngModelChange)="update($event, before)">
        <md-datepicker-toggle mdSuffix [for]="afterPicker"></md-datepicker-toggle>
      </md-input-container>
      <md-datepicker #afterPicker [touchUi]="mobile"></md-datepicker>
    </div>
    <div fxFlex="50">
      <md-input-container color="accent">
        <input #beforeDateInput
               mdInput
               placeholder="To"
               [mdDatepicker]="beforePicker"
               [ngModel]="before"
               (ngModelChange)="update(after, $event)">
        <md-datepicker-toggle mdSuffix [for]="beforePicker"></md-datepicker-toggle>
      </md-input-container>
      <md-datepicker #beforePicker [touchUi]="mobile"></md-datepicker>
    </div>
  </div>
</md-card>