.sale-splash {
  position: static;
  height: 100%;
}

.pulse {
  @media (max-width: 600px) {
    animation: pulse 2s infinite ease-in-out;
    animation-delay: 100ms;
  }
}

.mat-icon {
  margin-top: -20px;
}

/deep/ .mat-dialog-container {
  background: #2979ff;
  padding: 72px !important;

  @media (min-width: 599px) {
    width: 480px;
    animation: pulse 2s infinite ease-in-out;
    animation-delay: 100ms;
  }

  @media (max-width: 600px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
  }
}

.u-weak {
  color: rgba(white, 0.7);
}

@keyframes pulse {
  0% { transform: scale(1) }
  50% { transform: scale(1.02) }
  100% { transform: scale(1) }
}

@media (max-width: 600px) {
  @keyframes pulse {
    0% { transform: scale(1) }
    50% { transform: scale(1.1) }
    100% { transform: scale(1) }
  }
}

.close-info {
  position: absolute;
  bottom: 24px;
}