<div class = "component-wrapper">
    <sf-toolbar mode="none" title="Choose Project">
        <button md-icon-button [routerLink] = "'new'">
            <md-icon>add</md-icon>
        </button>
    </sf-toolbar>

    <div [fxShow]="isLoading">
        <md-progress-circle mode="indeterminate" color="accent"></md-progress-circle>
    </div>

    <div [fxHide]="isLoading">
        <md-card class = "stripped-card">
            <md-list class = 'card-list'>
                <md-list-item mat-ripple
                              mdRippleSpeedFactor="6"
                              [routerLink]="['1']">
                    <div md-list-avatar src = "http://lorempixel.com/40/40" class="project-avatar" fxLayoutAlign="center center">TP</div>
                    <h4 md-line class="mdc-typography--body2">Test Project</h4>
                    <span md-line class="mdc-typography--body1 text-weak">5 users, 2 teams</span>
                </md-list-item>
            </md-list>
        </md-card>
        <md-list>
            <md-list-item *ngIf = "! hasLoadedAll()" fxLayoutAlign = "center">
                <button md-raised-button (click) = "loadMore()">Load More</button>
            </md-list-item>
        </md-list>
    </div>
</div>

<router-outlet></router-outlet>