<div class="vmo-component">
  <vmo-toolbar title="Choose Project" mode="none">
    <button md-icon-button routerLink="new">
      <md-icon>add</md-icon>
    </button>
  </vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="isLoading">
    <md-list class="vmo-list">
      <md-list-item md-ripple
                    *ngFor="let project of projects"
                    [routerLink]="project.id"
                    class="u-clickable">

        <div md-list-avatar
             fxLayoutAlign="center center"
             class="vmo-project-icon">
          {{ project.iconName }}
        </div>
        <h4 md-line class="mdc-typography--subheading1">{{ project.name }}</h4>
        <span md-line class="mdc-typography--body1 u-weak">{{ project.userCount }} users, {{ project.teamCount }} teams</span>
      </md-list-item>

    </md-list>

    <vmo-load-more-button [cursor]="cursor" amount="15"></vmo-load-more-button>
  </vmo-progress-spinner>
</div>

<router-outlet></router-outlet>