<md-toolbar color="accent">
  <button *ngIf="true" md-icon-button (click)="start.open()">
    <md-icon>menu</md-icon>
  </button>
  The SaleFront
</md-toolbar>


<md-sidenav id="sidenavbar" #start (open)="closeStartButton.focus()">
  <button md-icon-button>
    <md-icon>email</md-icon>
  </button>
  <button md-icon-button>
    <md-icon>email</md-icon>
  </button>
  <button md-icon-button>
    <md-icon>chevronRight</md-icon>
  </button>

  <md-divider></md-divider>
  <md-list>
    <md-list-item>
      <img md-list-avatar src="https://i.kinja-img.com/gawker-media/image/upload/s--zYTMt-GJ--/c_scale,fl_progressive,q_80,w_800/1247638943539559271.png">

      <h3>Lao Tzu</h3>
    </md-list-item>

    <md-divider></md-divider>
    <md-list-item>
      <img md-list-avatar src="https://i.kinja-img.com/gawker-media/image/upload/s--zYTMt-GJ--/c_scale,fl_progressive,q_80,w_800/1247638943539559271.png">
      <h3>Project</h3>
    </md-list-item>

    <md-divider></md-divider>
    <md-list-item *ngFor="let item of items">
      <app-nav-item [text]="item[0]" [uri]="item[1]"></app-nav-item>
    </md-list-item>
  </md-list>

  <md-divider></md-divider>
  <br>
  <button md-icon-button="clock" #closeStartButton (click)="start.close()">Close</button>
</md-sidenav>

