.login-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card {
  max-width: 400px;
  width: 100%;
}

.mat-raised-button {
  margin-top: 12px;
}

.mat-input-container {
  width: 100%;
}
