.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: none;

  @media (min-height: 480px) {
    height: 100%;
  }
}

.login-spacing {
  padding: 24px;

  @media (max-width: 600px) {
    padding: 16px;
  }
}

.login-logo {
  padding-bottom: 24px;
}

.mat-card {
  max-width: 400px;
}

.mat-raised-button {
  margin-top: 12px;
}

.mat-input-container {
  width: 100%;
}