.login-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: none;

  @media (max-width: 960px) {
    background: white;
  }
}

.mat-card {
  max-width: 400px;
  width: 100%;
}

.mat-raised-button {
  margin-top: 12px;
}

.mat-input-container {
  width: 100%;
}

.login-card {
  @media (max-width: 960px) {
    box-shadow: none !important;
  }
}