<div class="vmo-component vmo-component--important">
  <vmo-toolbar title="" mode="close"></vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <form novalidate (submit)="submit(); $event.preventDefault()">
      <div class="container">
        <md-card>
          <span class="mdc-typography--display1">Update Profile</span>
          <p class="mdc-typography--body1 u-weak">Teams help organize users in a project. Give your new team a suiting name!</p>
          <div class="u-vertical-spacing">
            <div fxLayout="row" fxLayoutGap="16px">
              <md-input-container color="accent">
                <input #nameInput mdInput placeholder="First Name" autofocus required>
              </md-input-container>
              <md-input-container color="accent">
                <input #nameInput mdInput placeholder="Last Name" autofocus required>
              </md-input-container>
            </div>
            <md-input-container color="accent">
              <input #nameInput mdInput placeholder="Email" type="email" autofocus required>
            </md-input-container>
            <md-input-container color="accent">
              <input #nameInput mdInput placeholder="Phone Number" type="tel" autofocus>
            </md-input-container>
            <button md-raised-button color="accent">Save</button>
          </div>
        </md-card>
      </div>
    </form>
  </vmo-progress-spinner>
</div>