<div class="vmo-component vmo-component--important">
  <vmo-toolbar title="" mode="close"></vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <div class="vmo-scrollable-area">
      <form novalidate
            (submit)="submit(firstNameInput.value, lastNameInput.value, emailInput.value, phoneInput.value); $event.preventDefault()">
        <div class="container">
          <md-card>
            <span class="mdc-typography--display1">Update Profile</span>
            <p class="mdc-typography--body1 u-weak">Teams help organize users in a project. Give your new team a suiting name!</p>
            <div class="u-vertical-spacing">
              <div fxLayout="row" fxLayoutGap="16px">
                <md-input-container color="accent">
                  <input #firstNameInput mdInput placeholder="First Name" value="{{ member?.user.firstName }}" required>
                </md-input-container>
                <md-input-container color="accent">
                  <input #lastNameInput mdInput placeholder="Last Name" value="{{ member?.user.lastName }}" required>
                </md-input-container>
              </div>
              <md-input-container color="accent">
                <input #emailInput mdInput placeholder="Email" type="email" value="{{ member?.user.email }}" required>
              </md-input-container>
              <md-input-container color="accent">
                <input #phoneInput mdInput placeholder="Phone Number" type="tel" value="{{ member?.user.phoneNumber}}">
              </md-input-container>
              <md-input-container color="accent">
                <input #dateInput="ngModel"
                       mdInput
                       name="date"
                       [mdDatepicker]="picker"
                       placeholder="Birthdate"
                       [(ngModel)]="date">
                <button mdSuffix [mdDatepickerToggle]="picker" type="button"></button>
                <md-error *ngIf="dateInput.errors?.required && (dateInput.dirty || dateInput.touched)">
                  This field is required
                </md-error>
              </md-input-container>
              <md-datepicker #picker></md-datepicker>
              <div class="u-vertical-spacing">
                <md-slide-toggle name="isAdmin" [(ngModel)]="isAdmin">Administrator</md-slide-toggle>
              </div>
              <div class="u-vertical-spacing">
                <button md-raised-button color="accent">Save</button>
              </div>
            </div>
          </md-card>
        </div>
      </form>
    </div>
  </vmo-progress-spinner>
</div>