<div class="vmo-component vmo-component--important">
  <vmo-toolbar title="" mode="close"></vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <form novalidate (submit)="submit(firstNameInput.value, lastNameInput.value, emailInput.value, phoneInput.value); $event.preventDefault()">
      <div class="container">
        <md-card>
          <span class="mdc-typography--display1">Update Profile</span>
          <p class="mdc-typography--body1 u-weak">Teams help organize users in a project. Give your new team a suiting name!</p>
          <div class="u-vertical-spacing">
            <div fxLayout="row" fxLayoutGap="16px">
              <md-input-container color="accent">
                <input #firstNameInput mdInput placeholder="First Name" value="{{ user?.firstName }}" autofocus required>
              </md-input-container>
              <md-input-container color="accent">
                <input #lastNameInput mdInput placeholder="Last Name" value="{{ user?.lastName }}" autofocus required>
              </md-input-container>
            </div>
            <md-input-container color="accent">
              <input #emailInput mdInput placeholder="Email" type="email" value="{{ user?.email }}" autofocus required>
            </md-input-container>
            <md-input-container color="accent">
              <input #phoneInput mdInput placeholder="Phone Number" type="tel" value="{{ user?.phoneNumber}}" autofocus>
            </md-input-container>
            <button md-raised-button color="accent">Save</button>
          </div>
        </md-card>
      </div>
    </form>
  </vmo-progress-spinner>
</div>