.progress-container {
  position: relative;
  height: 108px;
  width: 108px;
}

.budget-item {
  min-width: 144px;
  width: calc(20% - 20px);
}

.percent {
  position: absolute;
  line-height: 108px;
  height: 108px;
  width: 108px;
  text-align: center;
}

.mat-progress-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 108px;
  height: 108px;
}

.active-budget-text {
  color: #2979ff;
}