<div class="vmo-component">
  <vmo-toolbar title="" mode="close"></vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <form novalidate (submit)="submit(quantity, date, time); $event.preventDefault()" *ngIf="project">
      <div class="vmo-container --small">
        <md-card>
          <span class="mdc-typography--display1 strong">Add Sale</span>
          <p class="mdc-typography--body1 u-weak">Register sales for yourself or someone you manage.</p>
          <div class="u-spacing-top">
            <md-input-container color="accent" *ngIf="project.type === 'value'">
              <input #valueInput="ngModel" name="value" mdInput placeholder="Value" type="number" [(ngModel)]="value" required>
              <span mdPrefix *ngIf="project.notationBefore">{{ project.notation }}</span>
              <span mdSuffix *ngIf="! project.notationBefore">{{ project.notation }}</span>
              <md-error *ngIf="valueInput.errors?.required && (valueInput.dirty || valueInput.touched)">
                This field is required
              </md-error>
            </md-input-container>
            <md-input-container color="accent" *ngIf="project.type === 'count'">
              <input #quantityInput="ngModel" name="quantity" mdInput placeholder="Quantity" type="number" [(ngModel)]="quantity" required>
              <md-error *ngIf="quantityInput.errors?.required && (quantityInput.dirty || quantityInput.touched)">
                This field is required
              </md-error>
            </md-input-container>
          </div>
          <div class="u-vertical-spacing">
            <div fxLayout="row" fxLayoutGap="16px">
              <div fxFlex="50">
                <md-select placeholder="Team" color="accent" [(ngModel)]="selectedTeam" (change)="updateSelectedMember()" name="teamInput" required>
                  <md-option *ngFor="let team of teams" [value]="team.id">
                    {{ team.name }}
                  </md-option>
                </md-select>
              </div>
              <div fxFlex="50">
                <md-select placeholder="User" color="accent" [(ngModel)]="selectedTeamMember" name="userInput" required>
                  <md-option *ngFor="let member of getMembers()" [value]="member.id">
                    {{ member.member?.user.name }}
                  </md-option>
                </md-select>
              </div>
            </div>
          </div>
          <div class="u-vertical-spacing">
            <div fxLayout="row" fxLayoutGap="16px">
              <div fxFlex="50">
                <md-input-container color="accent">
                  <input #dateInput="ngModel" mdInput name="date" [mdDatepicker]="picker" placeholder="Date" [(ngModel)]="date" required>
                  <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                  <md-error *ngIf="dateInput.errors?.required && (dateInput.dirty || dateInput.touched)">
                    This field is required
                  </md-error>
                </md-input-container>
                <md-datepicker #picker></md-datepicker>
              </div>
              <md-input-container color="accent" fxFlex="50">
                <input #timeInput="ngModel" mdInput name="time" placeholder="Time" type="time" [(ngModel)]="time" required>
                <md-error *ngIf="timeInput.errors?.required && (timeInput.dirty || timeInput.touched)">
                  This field is required
                </md-error>
              </md-input-container>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <button md-raised-button color="accent" [disabled]="pending || quantityInput?.errors?.required || dateInput.errors?.required || timeInput.errors?.required || ! selectedTeam || ! selectedTeamMember">Add</button>
            <md-checkbox [(ngModel)]="addMore" name="addMore">Keep adding</md-checkbox>
          </div>
        </md-card>
      </div>
    </form>
  </vmo-progress-spinner>
</div>