form {
  width: 100%;
}

.post-input {
  margin-bottom: 12px;
  padding-top: 0;
  padding-bottom: 0;
  height: 64px;
  display: flex;
  align-items: center;

  @media (max-width: 600px) {
    height: 56px;
  }

  @media (min-width: 960px) {
    margin-bottom: 16px;
  }
}

.mat-input-container {
  padding: 0;
}

.container {
  padding-top: 12px;

  @media (min-width: 960px) {
    max-width: 960px;
    padding: 24px 24px 8px;
  }
}