<div class="vmo-component vmo-component--important">
  <vmo-toolbar title="{{ member?.user.name }}" mode="back">
    <button md-icon-button routerLink="edit" *ngIf="! loading && canEdit && ! member?.deletedAt">
      <md-icon>edit</md-icon>
    </button>
  </vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <div class="vmo-scrollable-area">
      <div class="container">
        <md-card>
          <div class="card-header" fxFill>
            <img *ngIf="member?.user.avatarPath"
                 class="u-avatar u-clickable huge u-elevated"
                 [class.u-faded]="member?.deletedAt"
                 src="https://s3.eu-central-1.amazonaws.com/vendumo/{{ member?.user.avatarPath }}"
                 (click)="openProfilePicture()">
            <div *ngIf="! member?.user.avatarPath && canEdit"
                 class="u-avatar u-default-avatar u-clickable u-center huge u-elevated"
                 [class.u-faded]="member?.deletedAt"
                 fxLayoutAlign="center center"
                 routerLink="upload-avatar">
              <md-icon class="big-face">face</md-icon>
            </div>
            <div *ngIf="! member?.user.avatarPath && ! canEdit"
                 class="u-avatar u-default-avatar u-clickable u-center huge u-elevated"
                 [class.u-faded]="member?.deletedAt"
                 fxLayoutAlign="center center">
              <md-icon class="big-face">face</md-icon>
            </div>
          </div>
          <div class="inner-spacing" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
            <span class="mdc-typography--display1 strong">{{ member?.user.name }}</span>
            <span class="mdc-typography--body1 u-weak" *ngIf="! member?.deletedAt">{{ role }}</span>
            <span class="mdc-typography--body1 u-weak" *ngIf="member?.deletedAt">Deactivated</span>
            <button md-raised-button
                    *ngIf="activeMember?.id !== member?.id && ! member?.deletedAt"
                    color="accent"
                    (click)="sendMessage()"
                    class="u-push-button">
              Send message
            </button>
            <button md-raised-button
                    *ngIf="member?.deletedAt"
                    color="accent"
                    (click)="recoverMember()"
                    class="u-push-button">
              Reactivate
            </button>
          </div>
          <md-divider></md-divider>
          <div class="inner-spacing inner-spacing--push remove-padding-top">
            <md-list fxFill>
              <md-list-item>
                <span class="mdc-typography--headline strong">About</span>
              </md-list-item>
              <md-list-item>
                <md-icon md-list-icon class="list-icon">email</md-icon>
                <span class="mdc-typography--subheading2">{{ member?.user.email }}</span>
              </md-list-item>
              <md-list-item *ngIf="member?.user.phoneNumber">
                <md-icon md-list-icon class="list-icon">phone</md-icon>
                <span class="mdc-typography--subheading2">{{ member?.user.phoneNumber }}</span>
              </md-list-item>
              <md-list-item *ngIf="member?.user.birthdate">
                <md-icon md-list-icon class="list-icon">cake</md-icon>
                <span class="mdc-typography--subheading2">{{ member?.user.birthdate | amDateFormat: 'DD-MM-YYYY' }}</span>
              </md-list-item>
            </md-list>
          </div>
          <md-divider></md-divider>
          <div class="inner-spacing inner-spacing--push remove-padding-top">
            <md-list fxFill>
              <md-list-item>
                <span class="mdc-typography--headline strong">Teams</span>
              </md-list-item>
              <md-list-item *ngIf="! member?.teamMembers.length">
                <span class="mdc-typography--body1 u-weak">This user is not part of a team.</span>
              </md-list-item>
              <md-list-item *ngFor="let teamMember of member?.teamMembers">
                <md-icon md-list-icon class="list-icon">group</md-icon>
                <span class="mdc-typography--subheading2 u-clickable" [routerLink]="['/', member?.organizationId, 'projects', teamMember.team.projectId, 'teams', teamMember.team.id]">
                  {{ teamMember.team.name }}
                  <span>({{ teamMember.team.project.name }})</span>
                </span>
              </md-list-item>
            </md-list>
          </div>
          <md-divider></md-divider>
          <div class="inner-spacing inner-spacing--push remove-padding-top">
            <md-list fxFill>
              <md-list-item>
                <span class="mdc-typography--headline strong">Awards</span>
              </md-list-item>
              <md-list-item *ngIf="! dailyAwards?.length && ! weeklyAwards?.length">
                <span class="mdc-typography--body1 u-weak">This user has no awards.</span>
              </md-list-item>
            </md-list>
            <div *ngIf="monthlyAwards?.length" fxLayout="row" fxLayoutGap="24px" class="u-vertical-spacing u-horizontal-scrolling">
              <div *ngFor="let award of monthlyAwards" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px" class="award-item">
                <div class="u-avatar u-default-avatar u-avatar--big u-center u-avatar-colored gold"
                     fxLayoutAlign="center center">
                  <md-icon>star</md-icon>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                  <span class="mdc-typography--caption u-weak">{{ award.month | amDateFormat: 'MMMM' }}</span>
                  <div class="mdc-typography--body1 wall-of-fame-name u-ellipsis strong">Top Monthly</div>
                  <span class="mdc-typography--headline strong">{{ award.value }}</span>
                </div>
              </div>
            </div>
            <div *ngIf="weeklyAwards?.length" fxLayout="row" fxLayoutGap="24px" class="u-vertical-spacing u-horizontal-scrolling">
              <div *ngFor="let award of weeklyAwards" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px" class="award-item">
                <div class="u-avatar u-default-avatar u-avatar--big u-center u-avatar-colored silver"
                     fxLayoutAlign="center center">
                  <md-icon>star</md-icon>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                  <span class="mdc-typography--caption u-weak">Week {{ award.week }}</span>
                  <div class="mdc-typography--body1 wall-of-fame-name u-ellipsis strong">Top Weekly</div>
                  <span class="mdc-typography--headline strong">{{ award.value }}</span>
                </div>
              </div>
            </div>
            <div *ngIf="dailyAwards?.length" fxLayout="row" fxLayoutGap="24px" class="u-vertical-spacing u-horizontal-scrolling">
              <div *ngFor="let award of dailyAwards" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px" class="award-item">
                <div class="u-avatar u-default-avatar u-avatar--big u-center u-avatar-colored bronze"
                     fxLayoutAlign="center center">
                  <md-icon>star</md-icon>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                  <span class="mdc-typography--caption u-weak">{{ award.day | amDateFormat: 'DD.MM.YYYY' }}</span>
                  <div class="mdc-typography--body1 wall-of-fame-name u-ellipsis strong">Top Daily</div>
                  <span class="mdc-typography--headline strong">{{ award.value }}</span>
                </div>
              </div>
            </div>
          </div>
        </md-card>
      </div>
    </div>
  </vmo-progress-spinner>
</div>

<router-outlet></router-outlet>