<div class="vmo-component vmo-component--important">
  <vmo-toolbar title="" mode="close"></vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <div class="vmo-scrollable-area">
      <form novalidate
            (submit)="submit(nameInput.value); $event.preventDefault()">
        <div class="vmo-container --small">
          <md-card>
            <div class="mdc-typography--display1 strong u-vertical-spacing">Update Team</div>
            <md-input-container color="accent">
              <input #nameInput="ngModel"
                     mdInput
                     name="name"
                     placeholder="Team Name"
                     required
                     [(ngModel)]="name">
              <md-error *ngIf="nameInput.errors?.required && (nameInput.dirty || nameInput.touched)">
                This field is required
              </md-error>
            </md-input-container>
            <div class="u-vertical-spacing" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
              <button md-raised-button color="accent">Save</button>
              <button md-button color="warn" type="button" (click)="removeTeam()">Delete team</button>
            </div>
          </md-card>
        </div>
      </form>
    </div>
  </vmo-progress-spinner>
</div>