<div class="vmo-component vmo-component--important">
  <vmo-toolbar title="" mode="close"></vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <form novalidate
          (submit)="submit(nameInput.value); $event.preventDefault()">
      <div class="container">
        <md-card>
          <span class="mdc-typography--display1">Update Team</span>
          <p class="mdc-typography--body1 u-weak">Changed your mind? Update the name of your team!</p>
          <md-input-container color="accent">
            <input #nameInput="ngModel"
                   mdInput
                   name="name"
                   placeholder="Team Name"
                   required
                   [(ngModel)]="name">
            <md-error *ngIf="nameInput.errors?.required && (nameInput.dirty || nameInput.touched)">
              This field is required
            </md-error>
          </md-input-container>
          <div class="u-vertical-spacing">
            <button md-raised-button color="accent">Save</button>
          </div>
        </md-card>
      </div>
    </form>
  </vmo-progress-spinner>
</div>