<div class="vmo-component">
  <md-toolbar color="primary" class="vmo-toolbar">
    <button md-icon-button [routerLink]="'../'" type="button">
      <md-icon>close</md-icon>
    </button>
    <h2 class="mdc-typography--title toolbar-heading">
      Create Project
    </h2>
    <span class="u-fill"></span>
    <button md-icon-button (click)="submit">
      <md-icon>check</md-icon>
    </button>
  </md-toolbar>

  <div class="container">
    <md-input-container>
      <input mdInput placeholder="Project Name">
    </md-input-container>

    <md-button-toggle-group>
      <md-button-toggle value="count">
        <md-icon>plus_one</md-icon>
      </md-button-toggle>
      <md-button-toggle value="value">
        <md-icon>attach_money</md-icon>
      </md-button-toggle>
      <md-button-toggle value="product">
        <md-icon>shopping_basket</md-icon>
      </md-button-toggle>
    </md-button-toggle-group>
  </div>
</div>