<md-list class="vmo-leaderboard" [class.--no-avatar]="! avatar">
  <md-list-item *ngFor="let item of items | slice:0:count">
    <vmo-avatar *ngIf="type === 'users'" md-list-avatar [membership]="item" class="u-elevated-small"></vmo-avatar>
    <div *ngIf="type === 'teams' && avatar" md-list-avatar
         fxLayoutAlign="center center"
         class="vmo-group-icon u-elevated-small"
         [routerLink]="['../../teams', item.id]">
      <md-icon md-list-icon>group</md-icon>
    </div>
    <div md-line
         class="u-overflow-visible"
         [class.u-clickable]="type === 'teams' && avatar"
         [class.clickable-bar]="type === 'teams' && avatar"
         [class.u-faded]="type === 'users' && item.deletedAt"
         (click)="onClickBar(item)">
      <div fxLayout="row" class="leaderboard-title" *ngIf="! budget">
        <span class="mdc-typography--body1">
          <span class="strong">{{ item.position }}.</span> {{ type === 'users' ? item.user.name : item.name }}
        </span>
        <span class="u-fill"></span>
        <span *ngIf="! countComplete[item.id]"
              class="mdc-typography--body1 strong"
              counto
              [step]="100"
              [duration]="0.6"
              [countFrom]="0"
              [countTo]="item.value"
              (countoChange)="item.currentValue = $event"
              (countoEnd)="countComplete[item.id] = true">{{ item.currentValue | value:project }}</span>
        <span *ngIf="countComplete[item.id]"
              class="mdc-typography--body1 strong">{{ item.value | value:project }}</span>
      </div>
      <div fxLayout="row" class="leaderboard-title" *ngIf="budget">
        <span class="mdc-typography--body1 u-ellipsis">
          {{ type === 'users' ? item.user.name : item.name }}
        </span>
        <span class="u-fill"></span>
        <span *ngIf="! countComplete[item.id]"
              class="mdc-typography--body1 strong"
              counto
              [step]="100"
              [duration]="0.6"
              [countFrom]="0"
              [countTo]="item.value"
              (countoChange)="item.currentValue = $event"
              (countoEnd)="countComplete[item.id] = true">{{ item.currentValue | value:project }}</span>
        <span *ngIf="countComplete[item.id]"
              class="mdc-typography--body1 strong">{{ item.value | value:project }}</span>
        <span class="mdc-typography--body1 u-weak u-horizontal-spacing-tiny">/</span>
        <span class="mdc-typography--body1 strong">{{ item.budget }}</span>
      </div>
      <div class="leaderboard-bar" *ngIf="avatar">
        <div *ngIf="! loading" fxFill class="bar-wrapper">
          <div [@slideIn]
               class="leaderboard-progress"
               [style.width]="calculateWidth(item)"></div>
        </div>
      </div>
    </div>
  </md-list-item>
</md-list>
<div *ngIf="count < items.length" fxLayoutAlign="center" class="u-spacing-top">
  <button md-button color="accent" (click)="loadAll()">
    Load more
  </button>
</div>