:host {
  width: 100%;
}

.vmo-leaderboard {
  padding-top: 0 !important;

  .mat-list-text {
    overflow: visible !important;
    padding-right: 0 !important;
  }

  .mat-list-item {
    border-bottom: 0 !important;
    height: 40px !important;

    &:not(:last-child) {
      margin-bottom: 24px !important;
    }

    &:last-child {
      margin-bottom: 8px !important;
    }
  }

  .mat-list-item-content {
    padding: 0 !important;
    height: 40px !important;
  }
}

.vmo-leaderboard.--no-avatar {
  .mat-list-item {
    &:not(:last-child) {
      margin-bottom: 0px !important;
    }

    &:last-child {
      margin-bottom: 0px !important;
    }
  }
}

.leaderboard-list {
  padding: 16px 0 !important;

  @media (min-width: 960px) {
    max-width: 960px;
    margin: 24px;
    padding: 16px !important;
  }

  .mat-list-text {
    overflow: visible !important;
    padding-right: 0 !important;
  }

  .mat-list-item {
    border-bottom: 0 !important;
    height: 64px !important;

    &:first-of-type {
      margin-top: 8px !important;
    }

    &:last-of-type {
      margin-bottom: 8px !important;
    }
  }
}

.bar-wrapper {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}