<vmo-progress-spinner [hasLoaded]="! loading">
  <div class="vmo-scrollable-area">
    <div class="u-vertical-spacing u-horizontal-spacing">
      <span class="mdc-typography--caption strong u-weak">
        Daily Top
      </span>
    </div>
    <md-card>
      <div *ngIf="! topDailySellers?.length" fxLayout="column" fxLayoutGap="12px">
        <span class="mdc-typography--headline">No daily top sellers yet</span>
        <span class="u-weak">Next one will be picked tomorrow.</span>
      </div>
      <div *ngIf="topDailySellers?.length" class="u-horizontal-scrolling wall-of-fame-item" fxLayout="row" fxLayoutGap="24px">
        <div *ngFor="let seller of topDailySellers" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
          <img *ngIf="seller.membership.user.avatarPath"
               class="u-avatar u-avatar--big u-clickable"
               [routerLink]="'../../users/members/' + seller.membership.id"
               src="https://s3.eu-central-1.amazonaws.com/vendumo/{{ seller.membership.user.avatarPath }}">
          <div *ngIf="! seller.membership.user.avatarPath"
               class="u-avatar u-default-avatar u-avatar--big u-center u-clickable"
               fxLayoutAlign="center center"
               [routerLink]="'../../users/members/' + seller.membership.id">
            <md-icon class="medium-face">face</md-icon>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center">
            <span class="mdc-typography--caption u-weak">{{ seller.soldAt | amDateFormat: 'ddd' }}</span>
            <span class="mdc-typography--headline strong">{{ seller.value }}</span>
            <div class="mdc-typography--body1 wall-of-fame-name u-ellipsis">{{ seller.membership.user.firstName }}</div>
          </div>
        </div>
      </div>
    </md-card>
    <div class="u-vertical-spacing u-horizontal-spacing">
      <span class="mdc-typography--caption strong u-weak">
        Monthly Top
      </span>
    </div>
    <md-card>
      <div fxLayout="column" fxLayoutGap="12px">
        <span class="mdc-typography--headline">No montly top sellers yet</span>
        <span class="u-weak">Next one will be picked 1st of July.</span>
      </div>
    </md-card>
    <div class="u-vertical-spacing u-horizontal-spacing">
      <span class="mdc-typography--caption strong u-weak">
        Yearly Top
      </span>
    </div>
    <md-card>
      <div fxLayout="column" fxLayoutGap="12px">
        <span class="mdc-typography--headline">No yearly top sellers yet</span>
        <span class="u-weak">Next one will be picked 1st of January 2018.</span>
      </div>
    </md-card>
  </div>
</vmo-progress-spinner>

<router-outlet></router-outlet>