<md-card class="top-card" *ngIf="datepicker.visible">
  <div fxLayout="row" fxLayoutGap="16px">
    <div fxFlex="50">
      <md-input-container color="accent">
        <input #afterDateInput
               mdInput
               [mdDatepicker]="afterPicker"
               placeholder="From"
               [ngModel]="datepicker.after | async"
               (ngModelChange)="datepicker.setAfter($event)">
        <button mdSuffix [mdDatepickerToggle]="afterPicker" type="button"></button>
      </md-input-container>
      <md-datepicker #afterPicker [touchUi]="mobile"></md-datepicker>
    </div>
    <div fxFlex="50">
      <md-input-container color="accent">
        <input #beforeDateInput
               mdInput
               [mdDatepicker]="beforePicker"
               placeholder="To"
               [ngModel]="datepicker.before | async"
               (ngModelChange)="datepicker.setBefore($event)">
        <button mdSuffix [mdDatepickerToggle]="beforePicker" type="button"></button>
      </md-input-container>
      <md-datepicker #beforePicker [touchUi]="mobile"></md-datepicker>
    </div>
  </div>
</md-card>