<vmo-progress-spinner [hasLoaded]="! loading">
  <div class="vmo-scrollable-area" [class.u-top-spacing]="datepicker.visible">
    <md-list class="vmo-list leaderboard-list">
      <div class="vmo-list-title">
        <div fxLayout="row">
        <span class="mdc-typography--subheading1 strong">
          Total
        </span>
          <span class="u-fill"></span>
          <span class="mdc-typography--subheading1 strong">
          {{ total }}
        </span>
        </div>
        <md-divider></md-divider>
      </div>
      <md-list-item *ngFor="let team of teams">
        <div md-list-avatar
             fxLayoutAlign="center center"
             class="vmo-group-icon"
             [routerLink]="['../../teams', team.id]">
          <md-icon md-list-icon>group</md-icon>
        </div>
        <div md-line class="u-clickable u-overflow-visible clickable-bar" [routerLink]="[team.id]">
          <div fxLayout="row" class="leaderboard-title">
          <span class="mdc-typography--body1">
            <span class="strong">{{ team.position }}.</span> {{ team.name }}
          </span>
            <span class="u-fill"></span>
            <span class="mdc-typography--body1 strong">
            {{ team.sales.length }}
          </span>
          </div>
          <div class="leaderboard-bar">
            <div [@slideIn]="true"
                 class="leaderboard-progress"
                 [style.width]="teams[0].sales.length ? team.sales.length * 100 / teams[0].sales.length + '%' : ''"></div>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </div>
</vmo-progress-spinner>

<router-outlet></router-outlet>