<div>
  <vmo-progress-spinner [hasLoaded]="! loading">
    <md-list class="vmo-list leaderboard-list">
      <md-list-item *ngFor="let team of teams"
                    [routerLink]="'../../teams/' + team.id">

        <div md-list-avatar
             fxLayoutAlign="center center"
             class="vmo-group-icon">
          <md-icon md-list-icon>group</md-icon>
        </div>
        <div md-line fxLayout="row">
          <span class="mdc-typography--subheading1">
            <span class="strong">1.</span> {{ team.name }}
          </span>
          <span class="u-fill"></span>
          <span class="mdc-typography--subheading1 strong">
            {{ team.sales.length }}
          </span>
        </div>
        <div md-line class="leaderboard-bar">
          <div [@slideIn]="true"
               class="leaderboard-progress"
               [style.width]="team.sales.length * 100 / teams[0].sales.length + '%'"></div>
        </div>
      </md-list-item>
    </md-list>
  </vmo-progress-spinner>
</div>