<div class="vmo-component">
  <vmo-toolbar title="Users" mode="menu">
    <button md-icon-button routerLink="invite">
      <md-icon>add</md-icon>
    </button>
  </vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="isLoading">
    <md-list class="vmo-list" *ngIf="memberships?.length">
      <md-list-item md-ripple
                    *ngFor="let membership of memberships"
                    class="u-clickable"
                    [routerLink]="[membership.userId]">

        <img md-list-avatar src="http://lorempixel.com/40/40">

        <span md-line class="mdc-typography--subheading1">
          {{ membership.user.name }}
        </span>
      </md-list-item>
    </md-list>
  </vmo-progress-spinner>
</div>