h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:not(:first-child) {
    padding: 0 16px;
  }

  &:first-child {
    padding: 0 6px;
  }
}

.mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 9999;
}