<md-toolbar color = "primary">
  <button md-icon-button *ngIf="mode === 'menu'" (click)="sidebar.open()">
    <md-icon>menu</md-icon>
  </button>
  <button md-icon-button *ngIf="mode === 'back'" [routerLink] = "'../'">
    <md-icon>arrow_back</md-icon>
  </button>
  <button md-icon-button *ngIf="mode === 'close'" [routerLink] = "'../'">
    <md-icon>close</md-icon>
  </button>
  <h2 class="mdc-typography--title" [ngClass]="{'toolbar-heading': mode !== 'none'}">{{ title }}</h2>
  <span class="fill-space"></span>
  <ng-content></ng-content>
</md-toolbar>