<md-toolbar color="primary">
  <button md-icon-button *ngIf="state == 'menu'" (click)="sidebar.open()">
    <md-icon>menu</md-icon>
  </button>
  <button md-icon-button *ngIf="state == 'back'" [routerLink]="'../'">
    <md-icon>arrow_back</md-icon>
  </button>
  <button md-icon-button *ngIf="state == 'close'" [routerLink]="'../'">
    <md-icon>close</md-icon>
  </button>
  <h2 class="mdc-typography--title" [class.toolbar-heading]="state != 'none'">
    {{ title }}
  </h2>
  <span class="u-fill"></span>
  <ng-content></ng-content>
</md-toolbar>