<div class="vmo-component vmo-component--important">
  <vmo-toolbar title="Wall of Fame" mode="close"></vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <div class="vmo-scrollable-area">
      <div class="vmo-container --fillOnMobile">
        <md-card class="u-spacing-between">
          <span class="mdc-typography--headline strong">
            Daily Top
          </span>
          <md-divider></md-divider>
          <span *ngIf="!dailyAwards?.length"
                class="mdc-typography--body1 u-weak">No daily top sellers calculated yet. Check back tomorrow!</span>
          <div *ngIf="dailyAwards?.length">
            <md-grid-list [cols]="columns" [gutterSize]="gutter" rowHeight="180">
              <md-grid-tile *ngFor="let award of dailyAwards" [class.u-faded]="award.awardable.deletedAt">
                <div fxLayout="column"
                     fxLayoutAlign="center center"
                     fxLayoutGap="12px">
                  <div fxLayout="column" fxLayoutAlign="center center">
                    <span class="mdc-typography--caption u-weak">{{ formatDay(award.day) }}</span>
                  </div>
                  <img *ngIf="award.awardable.user.avatarPath"
                       class="u-avatar u-avatar--big u-clickable u-elevated"
                       [routerLink]="['/', award.awardable.organizationId, 'users', award.awardable.id]"
                       src="https://s3.eu-central-1.amazonaws.com/vendumo/{{ award.awardable.user.avatarPath }}">
                  <div *ngIf="! award.awardable.user.avatarPath"
                       class="u-avatar u-default-avatar u-avatar--big u-center u-clickable u-elevated"
                       fxLayoutAlign="center center"
                       [routerLink]="['/', award.awardable.organizationId, 'users', award.awardable.id]">
                    <md-icon class="medium-face">face</md-icon>
                  </div>
                  <div>
                    <div class="mdc-typography--headline strong u-text-center">{{ award.value }}</div>
                    <div class="mdc-typography--body1 u-ellipsis u-text-center">{{ award.awardable.user.firstName }}</div>
                  </div>
                </div>
              </md-grid-tile>
            </md-grid-list>
          </div>
        </md-card>
        <vmo-load-more-button [paginator]="dailyAwardListService"></vmo-load-more-button>
      </div>
    </div>
  </vmo-progress-spinner>
</div>