.clock-in-bar {
  position: absolute;
  bottom: 0;
  color: white;
  min-height: 56px !important;

  /deep/ .mat-toolbar-row {
    height: 56px !important;
  }

  button[md-fab] {
    color: white;
    background: #2979ff;
    position: absolute;
    right: calc(50% - 28px);
    bottom: 28px;
    z-index: 9999;
  }

  button[md-mini-fab] {
    background: #F50057;
    position: absolute;
    top: 8px;
    right: 16px;
  }
}

.mat-toolbar {
  background: #36474f !important;
}

.u-weak {
  color: rgba(white, 0.5);
}