<div class="vmo-component vmo-component--tabs">
  <vmo-toolbar title="Leaderboard" mode="menu" tabs="true">
    <button md-icon-button>
      <md-icon>date_range</md-icon>
    </button>
    <nav md-tab-nav-bar toolbar-tabs>
      <a md-tab-link routerLink="teams"
         routerLinkActive #membersLink="routerLinkActive"
         [active]="membersLink.isActive"
         [class.is-active]="membersLink.isActive">
        Teams
      </a>
      <a md-tab-link routerLink="users"
         routerLinkActive #invitesLink="routerLinkActive"
         [active]="invitesLink.isActive"
         [class.is-active]="invitesLink.isActive">
        Members
      </a>
    </nav>
  </vmo-toolbar>

  <router-outlet></router-outlet>
</div>