/deep/ .mat-card-header-text {
  margin-left: 16px !important;
}

.mat-card-title {
  margin-bottom: 8px;
}

.comments {
  background: #fafafa;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 12px !important;
  padding-bottom: 12px !important;

  .mat-card-subtitle {
    color: black;
  }
}

.comment-input {
  background: white;
  font-size: 14px !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-bottom: 12px;

  @media (max-width: 600px) {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }
}

.mat-list {
  padding-top: 0;
}

.mat-list-item /deep/ .mat-list-item-content {
  padding: 0 !important;
  height: auto !important;
}

.comment-body {
  overflow: visible !important;
  white-space: normal !important;

  .mat-list-item:not(:last-child) & {
    display: block;
    padding-bottom: 12px !important;
    margin-bottom: 12px !important;
  }
}