.vmo-scrollable-area {
  height: calc(100% - 56px);

  @media (min-width: 599px) {
    height: calc(100% - 64px);
  }
}

.u-weak {
  color: rgba(white, 0.7);
}

.mat-sidenav {
  color: white !important;
  background: #253238 !important;
  user-select: none;
  width: calc(100% - 56px);

  @media (min-width: 400px) {
    width: calc(100% - 72px);
    width: 340px;
  }

  &.mat-sidenav-side {
    max-width: 280px;
  }

  .mat-list-item.active-link {
    color: white !important;
    background: rgba(0, 0, 0, 0.12) !important;

    a {
      font-weight: 600 !important;
    }
  }

  hr {
    border: 0;
    border-bottom: 1px solid rgba(white, 0.12);
    margin: 0;
  }

  .mat-list {
    padding-top: 0;
  }
  .text-weak {
    color: rgba(white, 0.7);
  }

  .mat-icon-button {
    color: white !important;
  }

  .mat-list-icon {
    opacity: 0.5;
  }

  .mat-icon-button:not(:last-child) {
    margin-right: 12px;
  }

  .mat-toolbar {
    background: #36474f !important;
  }

  .mat-list-item {
    color: white !important;
  }
}

.mat-sidenav-container {
  background: #f2f2f2;
}

.active-link {
  .mat-icon {
    opacity: 1;
  }
  .mat-list-text > * {
    color: white !important;
    font-weight: 800 !important;
  }
}

.mat-raised-button {
  background: #2962ff;

  &[disabled] {
    color: rgba(white, 0.5);
  }
}

button[md-fab] {
  position: fixed;
  right: 24px;
  bottom: 28px;
  z-index: 9999;
  background: white;
  color: black;
}

.mat-button[disabled] {
  color: rgba(white, 0.5);
}

.clock-in-bar {
  position: fixed;
  bottom: 0;
  color: white;
  min-height: 56px !important;

  /deep/ .mat-toolbar-row {
    height: 56px !important;
  }

  button[md-fab] {
    color: white;
    background: #2979ff;
    right: 50%;
    transform: translateX(50%);
  }
}

.clock-out-button {
  width: 100%;
  background: #546E7A !important;
  color: white !important;
}

.mat-nav-list {
  margin-bottom: 64px;
}