<div *ngIf="! loading"
     class="avatar-wrapper"
     [routerLink]="['/', membership?.organizationId, 'app', project?.id, 'users', 'members', membership?.id]">
  <img *ngIf="membership.user?.avatarPath"
       class="u-avatar u-clickable"
       [class.u-faded]="membership?.deletedAt"
       src="{{ basePath + membership.user?.avatarPath }}">
  <div *ngIf="! membership.user?.avatarPath"
       class="u-avatar u-default-avatar u-clickable"
       [class.u-faded]="membership?.deletedAt"
       fxLayoutAlign="center center">
    <md-icon>face</md-icon>
  </div>
  <div *ngIf="sessionIndicator && isClockedIn()" class="session-indicator"></div>
</div>

