<div>
  <vmo-progress-spinner [hasLoaded]="isLoading">
    <md-list class="vmo-list">
      <md-list-item md-ripple
                    [routerLink]="team?.id"
                    *ngFor="let team of teams"
                    class="u-clickable">

        <div md-list-avatar
             fxLayoutAlign="center center"
             class="vmo-project-icon">
          abc
        </div>
        <h4 md-line class="mdc-typography--subheading1">{{ team.name }}</h4>
        <span md-line class="mdc-typography--body1 u-weak">Ground breakers since {{ team.createdAt }}</span>
      </md-list-item>
    </md-list>

    <vmo-load-more-button [cursor]="cursor" amount="15"></vmo-load-more-button>
  </vmo-progress-spinner>
</div>