.vmo-scrollable-area.--pushed-up {
  height: calc(100% - 56px);
}

.u-weak {
  color: rgba(white, 0.7);
}

.vmo-sidenav {
  color: white !important;
  background: #253238 !important;
  user-select: none;
  width: calc(100% - 56px);

  @media (min-width: 400px) {
    width: 300px;
  }

  &.mat-sidenav-side {
    max-width: 280px;
  }

  .mat-list-item.active-link {
    color: white !important;
    background: rgba(0, 0, 0, 0.12) !important;

    a {
      font-weight: 600 !important;
    }
  }

  hr {
    border: 0;
    border-bottom: 1px solid rgba(white, 0.12);
    margin: 0;
  }

  .mat-list {
    padding-top: 0;
  }
  .text-weak {
    color: rgba(white, 0.7);
  }

  .mat-icon-button {
    color: white !important;
  }

  .mat-list-icon {
    opacity: 0.5;
  }

  .mat-icon-button:not(:last-child) {
    margin-right: 12px;
  }

  .mat-toolbar {
    background: #36474f !important;
  }

  .mat-list-item {
    color: white !important;
  }
}

.mat-sidenav-container {
  background: #f2f2f2;
}

.active-link-parent /deep/ .mat-list-item {
  background: rgba(black, 0.2) !important;

  .mat-icon {
    opacity: 1;
  }

  a {
    font-weight: 500 !important;
  }
}

.active-link {
  .mat-icon {
    opacity: 1;
  }
  .mat-list-text > * {
    color: white !important;
    font-weight: 800 !important;
  }
}

.mat-raised-button {
  background: #2962ff;

  &[disabled] {
    color: rgba(white, 0.5);
  }
}

button[md-fab] {
  position: fixed;
  right: 24px;
  bottom: 28px;
  z-index: 9999;
  background: white;
  color: black;
}

.mat-button {
  background: rgba(0, 0, 0, 0.12);
}

.mat-toolbar.sales-bar {
  position: fixed;
  bottom: 0;
  background: #2979ff;
  color: white;
  min-height: 56px !important;

  /deep/ .mat-toolbar-row {
    height: 56px !important;
  }
}

.mat-button[disabled] {
  color: rgba(white, 0.5);
}

.mat-nav-list {
  margin-bottom: 24px;
}

.vmo-scrollable-area.--pushed-up {
  .mat-nav-list {
    &:last-child {
      margin-bottom: 36px;
    }
  }
}

.vmo-scrollable-area.--with-sessionbar {
  height: calc(100% - 56px);
}

.mat-nav-list.--with-project {
  margin-bottom: 24px;

  &.--without-session {
    margin-bottom: 42px;
  }
}

.sidenav-logo-wrapper {
  padding: 24px 24px 16px;
}

.sidenav-logo {
  height: auto;
  width: auto;
  max-height: 64px;
  max-width: 156px;
}

.push-sides {
  padding: 0 4px;
}
