<div class="vmo-component">
  <vmo-toolbar title="Participants" mode="back">
    <button md-icon-button routerLink="add">
      <md-icon>add</md-icon>
    </button>
  </vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <div class="vmo-scrollable-area">
      <md-list class="vmo-list">
        <md-list-item *ngFor="let participation of conversation?.participations | filteredParticipations">
          <vmo-avatar md-list-avatar [membership]="participation.member"></vmo-avatar>
          <h4 md-line>
            {{ participation.member.user.name }}
          </h4>
          <span class="u-fill"></span>
          <button md-icon-button (click)='removeParticipant(participation)'>
            <md-icon>remove_circle_outline</md-icon>
          </button>
        </md-list-item>
      </md-list>
    </div>
  </vmo-progress-spinner>
</div>

<router-outlet></router-outlet>