<div class="vmo-component vmo-component--important">
  <vmo-toolbar [title]="team?.name" mode="back">
    <button md-icon-button (click)="datepicker.toggle()">
      <md-icon>date_range</md-icon>
    </button>
  </vmo-toolbar>
  <vmo-datepicker></vmo-datepicker>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <div class="vmo-scrollable-area" [class.u-top-spacing]="datepicker.visible">
      <md-list class="vmo-list leaderboard-list">
        <div class="vmo-list-title">
          <div fxLayout="row">
          <span class="mdc-typography--subheading1 strong">
            Total
          </span>
            <span class="u-fill"></span>
            <span class="mdc-typography--subheading1 strong">
            {{ total }}
          </span>
          </div>
          <md-divider></md-divider>
        </div>
        <md-list-item *ngFor="let membership of memberships"
                      [routerLink]="'../../members/' + membership.id">

          <vmo-avatar md-list-avatar [user]="membership.user"></vmo-avatar>
          <div md-line fxLayout="row" class="leaderboard-title">
          <span class="mdc-typography--body1">
            <span class="strong">{{ membership.position }}.</span> {{ membership.user.name }}
          </span>
            <span class="u-fill"></span>
            <span class="mdc-typography--body1 strong">
            {{ membership.sales.length }}
          </span>
          </div>
          <div md-line class="leaderboard-bar">
            <div [@slideIn]="true"
                 class="leaderboard-progress"
                 [style.width]="membership.sales.length * 100 / memberships[0].sales.length + '%'"></div>
          </div>
        </md-list-item>
        <div *ngIf="! memberships?.length" fxLayoutAlign="center center" class="u-vertical-spacing">
          <div class="mdc-typography--body1 u-weak">This team is empty.</div>
        </div>
      </md-list>
    </div>
  </vmo-progress-spinner>
</div>