<div class="vmo-component">
  <vmo-toolbar title="Sales" mode="menu">
    <button md-icon-button (click)="downloadContracts()">
      <md-icon>file_download</md-icon>
    </button>
    <button md-icon-button routerLink="add" *ngIf="! membership?.isSpectator">
      <md-icon>add</md-icon>
    </button>
  </vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <!-- <md-table #table [dataSource]="dataSource">

       <ng-container cdkColumnDef="id">
         <md-header-cell *cdkHeaderCellDef>ID</md-header-cell>
         <md-cell *cdkCellDef="let row"> {{row.id}}</md-cell>
       </ng-container>

       <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
       <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
     </md-table>-->
    <vmo-empty-state [when]="! sales?.length && ! loading"
                     [title]="'No sales, yet.'"
                     [description]="'Add a sale to get started.'">
      <button md-raised-button color="accent" routerLink="add" class="u-push-button">Add a sale</button>
    </vmo-empty-state>
    <div class="vmo-scrollable-area" *ngIf="sales?.length">
      <md-list class="vmo-list">
        <md-list-item *ngFor="let sale of sales">
          <vmo-avatar md-list-avatar [membership]="sale.member"></vmo-avatar>
          <div md-line [class.u-faded]="sale.member.deletedAt" class="mdc-typography--subheading1">
            <strong class="u-clickable"
                    [routerLink]="'../users/members/' + sale.memberId">{{ sale.member.user.name }}</strong>
            <span *ngIf="project.type === 'value'">for</span>
            <strong *ngIf="project.type === 'value'">{{ sale.value | value:project }}</strong>
            <span>in</span>
            <strong class="u-clickable"
                    [routerLink]="'../teams/' + sale.teamId">{{ sale.team.name }}</strong>
          </div>
          <div md-line class="mdc-typography--caption u-weak" [class.u-faded]="sale.member.deletedAt">{{ sale.soldAt | amDateFormat:'DD-MM-YYYY HH:mm' }}</div>
          <div class="u-fill"></div>
          <button md-icon-button (click)='openContract(sale.contract)' *ngIf="sale.contract">
            <md-icon mdTooltip="View Contract" mdTooltipPosition="before" class="u-weak">content_paste</md-icon>
          </button>
          <button md-icon-button (click)='removeSale(sale)' *ngIf="canRemove(sale)">
            <md-icon mdTooltip="Delete" mdTooltipPosition="before" class="u-weak">delete</md-icon>
          </button>
        </md-list-item>
      </md-list>

      <vmo-load-more-button [paginator]="salesListService"></vmo-load-more-button>
    </div>
  </vmo-progress-spinner>
</div>

<router-outlet></router-outlet>