:host, strong {
  color: white;
}

.mat-raised-button {
  height: 48px;
  width: 90%;
}

.mat-raised-button,
.mat-button {
  &[disabled] {
    color: rgba(white, 0.5);
  }
}

.strong-button {
  background: #2962ff;
}

.sale-splash {
  position: static;
  height: 100%;

  @media (min-width: 959px) {
    height: 400px;
  }
}

.pulse {
  animation: pulse 2s infinite ease-in-out;
  animation-delay: 100ms;
}

.mat-icon {
  margin-top: -24px;
}

/deep/ .mat-dialog-container {
  background: #2979ff;
  padding: 24px !important;
  width: 600px;

  @media (max-width: 960px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    width: auto;
  }
}

.u-weak {
  color: rgba(white, 0.7);
}

@keyframes pulse {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.06)
  }
  100% {
    transform: scale(1)
  }
}

.close-info {
  position: absolute;
  bottom: 24px;
  width: 100%;
  text-align: center;
}