<vmo-progress-spinner [hasLoaded]="! loading">

  <md-list class="vmo-list">
    <md-list-item md-ripple class="u-clickable">
      <md-icon md-list-icon class="u-weak">lock</md-icon>
      <h4 md-line class="mdc-typography--subheading1">Administrators</h4>
    </md-list-item>
    <md-list-item md-ripple class="u-clickable">
      <md-icon md-list-icon class="u-weak">payment</md-icon>
      <h4 md-line class="mdc-typography--subheading1">Billing</h4>
    </md-list-item>
  </md-list>

</vmo-progress-spinner>

<router-outlet></router-outlet>