<div class="vmo-component vmo-component--important">
  <vmo-toolbar title="Add Member" mode="close"></vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <div class="vmo-scrollable-area">
      <md-list class="vmo-list" *ngIf="(memberships | filteredMemberships:team)?.length">
        <md-list-item *ngFor="let membership of memberships | filteredMemberships:team">
          <vmo-avatar md-list-avatar [membership]="membership"></vmo-avatar>
          <h4 md-line>
            {{ membership.user.name }}
          </h4>
          <span class="u-fill"></span>
          <button md-raised-button color="accent" (click)="addMember(membership)">Add</button>
        </md-list-item>
      </md-list>

      <vmo-load-more-button [paginator]="membershipList"></vmo-load-more-button>
    </div>
  </vmo-progress-spinner>
</div>