<div class="vmo-component vmo-component--important">
  <vmo-toolbar title="" mode="close"></vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <div class="vmo-scrollable-area">
      <form #form novalidate (submit)="submit(form); $event.preventDefault()">
        <div class="vmo-container --small">
          <!--<md-card>
            <span class="mdc-typography&#45;&#45;display1">Invite User</span>
            <p class="mdc-typography&#45;&#45;body1 u-weak">Send an invitation to the given email address to give the user access to the project.</p>
            <div class="u-vertical-spacing">
              <md-input-container color="accent">
                <input mdInput #emailInput="ngModel" name="email" placeholder="Email" type="email" [(ngModel)]="email" required autofocus>
                <md-error *ngIf="emailInput.errors?.required && (emailInput.dirty || emailInput.touched)">
                  This field is required
                </md-error>
              </md-input-container>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
              <button md-raised-button color="accent" [disabled]="emailInput.errors?.required">Send</button>
              <md-checkbox>Keep inviting</md-checkbox>
            </div>
          </md-card>-->
          <md-card>
            <span class="mdc-typography--display1 strong">Register User</span>
            <p class="mdc-typography--body1 u-weak">Register a user to give them access to the organization.</p>
            <div class="u-vertical-spacing">
              <div fxLayout="row" fxLayoutGap="16px">
                <md-input-container color="accent">
                  <input #firstNameInput="ngModel"
                         mdInput
                         placeholder="First Name"
                         name="firstName"
                         [(ngModel)]="firstName"
                         required>
                  <md-error *ngIf="firstNameInput.errors?.required && (firstNameInput.dirty || firstNameInput.touched)">
                    This field is required
                  </md-error>
                </md-input-container>
                <md-input-container color="accent">
                  <input #lastNameInput="ngModel"
                         mdInput
                         placeholder="Last Name"
                         name="lastName"
                         [(ngModel)]="lastName"
                         required>
                  <md-error *ngIf="lastNameInput.errors?.required && (lastNameInput.dirty || lastNameInput.touched)">
                    This field is required
                  </md-error>
                </md-input-container>
              </div>
              <md-input-container color="accent">
                <input #emailInput="ngModel"
                       mdInput
                       placeholder="Email"
                       type="email"
                       name="email"
                       [(ngModel)]="email"
                       required>
                <md-error *ngIf="emailInput.errors?.required && (emailInput.dirty || emailInput.touched)">
                  This field is required
                </md-error>
                <md-error *ngIf="emailInput.errors?.email && (emailInput.dirty || emailInput.touched)">
                  This field must be a valid email address
                </md-error>
              </md-input-container>
              <md-input-container color="accent">
                <input #passwordInput="ngModel"
                       mdInput
                       placeholder="Password"
                       type="password"
                       name="password"
                       [(ngModel)]="password"
                       minlength="8"
                       required>
                <md-error *ngIf="passwordInput.errors?.required && (passwordInput.dirty || passwordInput.touched)">
                  This field is required
                </md-error>
                <md-error *ngIf="passwordInput.errors?.minlength && (passwordInput.dirty || passwordInput.touched)">
                  This field must be minimum 8 characters
                </md-error>
              </md-input-container>
              <div class="u-vertical-spacing">
                <md-slide-toggle name="isAdmin" [(ngModel)]="isAdmin">Administrator</md-slide-toggle>
              </div>
              <div class="u-vertical-spacing">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                  <button md-raised-button
                          color="accent"
                          [disabled]="firstNameInput.errors?.required || lastNameInput.errors?.required || emailInput.errors?.required || passwordInput.errors?.required || passwordInput.errors?.minlength || pending">Register
                  </button>
                  <md-checkbox name="keepInviting" [(ngModel)]="inviteMore">Keep inviting</md-checkbox>
                </div>
              </div>
            </div>
          </md-card>
        </div>
      </form>
    </div>
  </vmo-progress-spinner>
</div>