.container {
  padding: 24px;

  @media (min-width: 960px) {
    max-width: 960px;
  }
}

.u-avatar.huge {
  height: 160px;
  width: 160px;
}

.mat-card {
  padding: 0;
}

.inner-spacing {
  padding: 0 24px 24px;

  &--push {
    padding-top: 24px;
  }
}

.card-header {
  background: #f2f2f2;
  position: relative;
  height: 96px !important;
  margin-bottom: 96px !important;
  border-bottom: 1px solid #e2e2e2;

  img {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.list-icon {
  color: rgba(black, 0.35);
  padding-right: 12px !important;
}

.mdc-typography--display1 {
  text-align: center;
}

.award-item {
  min-width: 88px;
}

.remove-padding-top {
  padding-top: 0 !important;
}