<vmo-progress-spinner [hasLoaded]="! loading">
  <div class="vmo-scrollable-area">
    <div class="vmo-container --fillOnMobile" [class.u-push-down]="datepicker.visible" *ngIf="! loading">
      <md-card>
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class="mdc-typography--headline strong">{{ project.name }}</span>
          <div class="u-fill"></div>
          <span *ngIf="! countComplete"
                class="mdc-typography--headline strong"
                counto
                [step]="50"
                [duration]="0.6"
                [countFrom]="0"
                [countTo]="total"
                (countoChange)="current = $event"
                (countoEnd)="countComplete = true">{{ current | value:project }}</span>
          <span *ngIf="countComplete" class="mdc-typography--headline strong">{{ total | value:project }}</span>
        </div>
        <md-divider></md-divider>
        <vmo-leaderboard [project]="project" [items]="teams" type="teams"></vmo-leaderboard>
        <span *ngIf="! teams?.length" class="mdc-typography--body1 u-weak">No teams in project.</span>
      </md-card>
    </div>
  </div>
</vmo-progress-spinner>

<router-outlet></router-outlet>