<div class="vmo-component">
  <vmo-toolbar title="Sales" mode="menu">
    <button md-icon-button routerLink="add">
      <md-icon>add</md-icon>
    </button>
  </vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <!-- <md-table #table [dataSource]="dataSource">

       <ng-container cdkColumnDef="id">
         <md-header-cell *cdkHeaderCellDef>ID</md-header-cell>
         <md-cell *cdkCellDef="let row"> {{row.id}}</md-cell>
       </ng-container>

       <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
       <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
     </md-table>-->
    <div class="u-stretch u-spacing" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" *ngIf="! sales?.length">
      <span class="mdc-typography--headline strong">No sales added yet.</span>
      <span class="u-weak">Add a sale to get started.</span>
      <button md-raised-button color="accent" routerLink="add" class="u-push-button">Add a sale</button>
    </div>
    <div class="vmo-scrollable-area" *ngIf="sales?.length">
      <md-list class="vmo-list">
        <md-list-item *ngFor="let sale of sales">
          <vmo-avatar md-list-avatar [membership]="sale.member"></vmo-avatar>
          <div md-line>
            <strong class="u-clickable"
                    [routerLink]="'/projects/' + sale.projectId + '/users/members/' + sale.memberId">{{ sale.member.user.name }}</strong>
            <span>in</span>
            <strong class="u-clickable"
                    [routerLink]="'/projects/' + sale.projectId + '/teams/' + sale.teamId">{{ sale.team.name }}</strong>
          </div>
          <div md-line class="u-weak">{{ sale.soldAt | amDateFormat:'DD-MM-YYYY HH:mm' }}</div>
          <div class="u-fill"></div>
          <button md-icon-button (click)='removeSale(sale)' *ngIf="canRemove(sale)">
            <md-icon mdTooltip="Delete" mdTooltipPosition="before" class="u-weak">delete</md-icon>
          </button>
        </md-list-item>
      </md-list>

      <vmo-load-more-button [paginator]="salesListService"></vmo-load-more-button>
    </div>
  </vmo-progress-spinner>
</div>

<router-outlet></router-outlet>