<div>
  <div class="top-header {{ color }}">
    <span class="mdc-typography--display1 strong">Edit Project</span>
    <p class="mdc-typography--body1 u-weak">Use the inputs below to configure the project.</p>
  </div>
  <form novalidate (submit)="submit(); $event.preventDefault()" class="u-spacing-top vmo-scrollable-area form">
    <md-input-container color="accent">
      <input #nameInput="ngModel" mdInput name="projectName" placeholder="Project Name" required [(ngModel)]="name">
      <md-error *ngIf="nameInput.errors?.required && (nameInput.dirty || nameInput.touched)">
        This field is required
      </md-error>
    </md-input-container>
    <div class="u-spacing-top">
      <div class="mdc-typography--caption u-weak">Project color:</div>
      <md-radio-group class="radio-color" name="color" [(ngModel)]="color">
        <md-radio-button value="pink" class="radio-pink"></md-radio-button>
        <md-radio-button value="purple" class="radio-purple"></md-radio-button>
        <md-radio-button value="blue" class="radio-blue"></md-radio-button>
        <md-radio-button value="light-blue" class="radio-light-blue"></md-radio-button>
        <md-radio-button value="teal" class="radio-teal"></md-radio-button>
        <md-radio-button value="green" class="radio-green"></md-radio-button>
        <md-radio-button value="lime" class="radio-lime"></md-radio-button>
        <md-radio-button value="yellow" class="radio-yellow"></md-radio-button>
        <md-radio-button value="orange" class="radio-orange"></md-radio-button>
      </md-radio-group>
    </div>
    <div class="u-spacing-top-big" *ngIf="data.templates.length" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
      <md-checkbox [(ngModel)]="withContract" name="withContract">Sales contract</md-checkbox>
      <md-select placeholder="Contract" color="accent" [(ngModel)]="selectedContract" name="contractInput" class="no-padding-top" *ngIf="withContract">
        <md-option *ngFor="let template of data.templates" [value]="template.id">
          {{ template?.name }}
        </md-option>
      </md-select>
    </div>
    <div class="u-vertical-spacing-big" fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-md="start center" fxLayoutGap="16px">
      <button md-button type="button" (click)="dialog.close()">Cancel</button>
      <button md-raised-button color="accent" [disabled]="nameInput.errors?.required" fxFlexOrder.lt-md="-1">Update</button>
    </div>
  </form>
</div>
