<div class="vmo-component">
  <vmo-toolbar title="Participants" mode="back">
    <button md-icon-button routerLink="add">
      <md-icon>add</md-icon>
    </button>
  </vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="isLoading">
    <md-list class="vmo-list">
      <md-list-item *ngFor="let participation of conversation?.participations | filteredParticipations">
        <img md-list-avatar src="http://lorempixel.com/40/40">
        <h4 md-line>
          {{ participation.user.name }}
        </h4>
        <span class="u-fill"></span>
        <button md-icon-button (click)='removeParticipant(participation)'>
          <md-icon>remove_circle_outline</md-icon>
        </button>
      </md-list-item>
    </md-list>
  </vmo-progress-spinner>
</div>

<router-outlet></router-outlet>