<md-card [@fadeInOut]="true" class="container-card">
  <md-card class="post-card u-no-elevation">
    <md-card-header>
      <img md-card-avatar src="http://lorempixel.com/40/40">
      <md-card-title class="mdc-typography--subheading1">
        {{ post.user.name }}
      </md-card-title>
      <md-card-subtitle class="mdc-typography--caption">
        {{ post.publishedAt | amTimeAgo }}
      </md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p class="mdc-typography--body1">
        {{ post.body }}
      </p>
    </md-card-content>
  </md-card>
  <md-card class="comments u-no-elevation" *ngIf="post.comments.length">
    <md-list>
      <md-list-item *ngFor="let comment of post.comments">
        <img md-list-avatar
             fxFlexAlign="start"
             src="http://lorempixel.com/40/40">
        <div md-line fxLayoutGap="6px">
          <span class="mdc-typography--body2">
            {{ comment.user.name }}
          </span>
          <span class="mdc-typography--caption u-weak">
            {{ comment.postedAt | amTimeAgo }}
          </span>
        </div>
        <span md-line class="mdc-typography--body1 comment-body">
          {{ comment.body }}
        </span>
      </md-list-item>
    </md-list>
  </md-card>
  <md-card class="comment-input u-no-elevation">
    <form (submit)="onSubmit(input.value); input.value = ''; $event.preventDefault()" fxLayoutAlign="stretch center">
      <img md-list-avatar src="http://lorempixel.com/40/40" class="u-avatar">
      <md-input-container class="vmo-fixed-input">
        <input #input mdInput name="comment" placeholder="Post comment...">
      </md-input-container>
    </form>
  </md-card>
</md-card>