<div class="vmo-component">
  <vmo-toolbar title="" mode="close"></vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <form novalidate (submit)="submit(); $event.preventDefault()">
      <div class="vmo-container --small">
        <md-card>
          <span class="mdc-typography--display1 strong">Create Product</span>
          <p class="mdc-typography--body1 u-weak">Create a new product that can be registered when adding deals.</p>
          <md-input-container color="accent">
            <input #nameInput="ngModel" mdInput name="name" placeholder="Name" required [(ngModel)]="name">
            <md-error *ngIf="nameInput.errors?.required && (nameInput.dirty || nameInput.touched)">
              This field is required
            </md-error>
          </md-input-container>
          <md-input-container color="accent">
            <input #valueInput="ngModel" mdInput name="value" placeholder="Value" type="number" required [(ngModel)]="value">
            <span mdPrefix *ngIf="project.notationBefore">{{ project.notation }}</span>
            <span mdSuffix *ngIf="! project.notationBefore">{{ project.notation }}</span>
            <md-error *ngIf="valueInput.errors?.required && (valueInput.dirty || valueInput.touched)">
              This field is required
            </md-error>
          </md-input-container>
          <div class="u-vertical-spacing">
            <button md-raised-button color="accent" [disabled]="nameInput.errors?.required || valueInput.errors?.required || pending">Create</button>
          </div>
        </md-card>
      </div>
    </form>
  </vmo-progress-spinner>
</div>