<div class="vmo-component vmo-component--important">
  <vmo-toolbar title="" mode="close"></vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="true">
    <div class="vmo-scrollable-area">
      <div class="container">
        <md-card fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="16px">
          <div class="mdc-typography--display1 strong">Upload Avatar</div>
          <p class="mdc-typography--body1 u-weak">Choose one of your many pretty pictures to present yourself.</p>
          <div class="file-upload">
            <input name="profilePicture" id="custom-input" type="file" accept="image/*" (change)="fileChangeListener($event)">
          </div>
          <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
          <button md-raised-button color="accent" (click)="upload(data)">Save</button>
        </md-card>
      </div>
    </div>
  </vmo-progress-spinner>
</div>