<div class="vmo-component">
  <vmo-toolbar title="Users" mode="none">
    <button md-icon-button routerLink="invite">
      <md-icon>add</md-icon>
    </button>
  </vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="isLoading">

  </vmo-progress-spinner>

  <nav md-tab-nav-bar>
    <a md-tab-link
       *ngFor="let link of tablinks"
       [routerLink]="link[1]"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link[0]}}
    </a>
  </nav>

  <router-outlet></router-outlet>
</div>