.mat-fab {
  position: absolute;
  bottom: 24px;
  right: 24px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;

  @media (max-width: 960px) {
    opacity: 1;
    pointer-events: auto;
  }
}

img {
  display: block;
  height: auto;
  width: auto;
  max-width: 90vw;
  max-height: 90vh;
}

.hover-overlay {
  position: relative;
}

.hover-overlay:hover .mat-fab {
  opacity: 1;
  pointer-events: auto;
}