<div class="vmo-component vmo-component--tabs">
  <vmo-toolbar title="{{ team?.name }}" mode="back" tabs="true">
    <!--<button md-icon-button>
      <md-icon>edit</md-icon>
    </button>-->
    <nav md-tab-nav-bar toolbar-tabs>
      <a md-tab-link routerLink="members"
         routerLinkActive #membersLink="routerLinkActive"
         [active]="membersLink.isActive"
         [class.is-active]="membersLink.isActive">
        Members
      </a>
    </nav>
  </vmo-toolbar>

  <router-outlet></router-outlet>
</div>