<md-sidenav-container>
  <md-sidenav #sidenav>
    <vmo-organization-sidenav *ngIf="! loading" [membership]="membership" [project]="project" [sidenav]="sidenav"></vmo-organization-sidenav>
  </md-sidenav>
  <vmo-sales-bar *ngIf="project" [membership]="membership" [project]="project"></vmo-sales-bar>
  <div class="vmo-component" [class.vmo-component--salesbar]="project && membership?.activeSession?.teamMember.team.projectId === project?.id">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>