@import '~@angular/material/_theming.scss';
@import '~material-components-web/dist/material-components-web.css';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-pink, 500);
$candy-app-accent: mat-palette($mat-blue, A400, A100, A700);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing selectAll of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

body {
  margin: 0;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

.mdc-typography--subheading1 {
  font-size: 0.938rem !important;
}

.mdc-typography--body1 {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.mdc-typography--body2 {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.mdc-typography--caption {
  font-size: 12px !important;
}

.mat-sidenav-container {
  height: 100%;
}

snack-bar-container {
  background: #253238 !important;
}

.mat-list-item {
  position: relative;
  outline: 0;
}

.mat-tooltip {
  white-space: nowrap;
  font-weight: 500;
}

.mat-button,
.mat-raised-button {
  font-weight: 600 !important;
  text-transform: uppercase;
}

.mat-toolbar {
  .mat-tab-link {
    font-weight: 500 !important;
    text-transform: uppercase;
    color: white;
  }

  .mat-tab-link.is-active {
    opacity: 1;
  }

  .mat-tab-nav-bar, .mat-tab-header {
    border-width: 0;
  }

  .mat-ink-bar {
    background: white;
  }


  &.light {
    .mat-tab-link {
      color: black;
    }

    .mat-ink-bar {
      color: black;
    }
  }

  @media(max-width: 600px) {
    .mat-tab-nav-bar {
      width: 100%;
    }
    .mat-tab-link {
      width: 50%;
    }
  }
}

.mat-toolbar {
  position: relative;
  z-index: 2;
  @include mat-elevation(4);

  .mat-sidenav & {
    @include mat-elevation(1);
  }
}

.u-relative {
  position: relative;
}

.u-container {
  padding: 16px;
}

.u-big-container {
  padding: 24px;
}

.u-fill {
  flex: 1 1 auto;
}

.u-stretch {
  height: 100%;
}

.u-clickable {
  cursor: pointer;
  user-select: none;

  &:focus {
    outline: 0;
  }
}

.u-weak {
  color: rgba(black, 0.54);
}

.u-highlight {
  color: black;

  &, * {
    font-weight: 600 !important;
  }
}

.u-spacing-bottom {
  margin-bottom: 24px;
}

.u-nowrap {
  white-space: nowrap;
}

.u-spacing-bottom-small {
  padding-bottom: 8px;
}

.u-vertical-spacing {
  padding-top: 16px;
  padding-bottom: 16px;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.u-vertical-spacing-small {
  padding-top: 12px;
  padding-bottom: 12px;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

.u-horizontal-spacing {
  padding-left: 16px;
  padding-right: 16px;
}

.u-vertical-spacing-big {
  padding: 24px 0;
}

.u-avatar {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
}

.u-avatar--big {
  width: 72px;
  height: 72px;
}

.wall-of-fame-name {
  max-width: 120px;
}

.u-default-avatar {
  background: #e2e2e2;
}

.u-push-button {
  margin-top: 16px !important;
}

.u-no-elevation {
  box-shadow: none !important;
}

.u-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vmo-toolbar {
  position: fixed;
  top: 0;
}

.vmo-component-simple {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 100%;
}

.vmo-component {
  overflow: hidden;
  position: absolute;
  padding-top: 56px;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background: #f2f2f2;

  @media (min-width: 599px) {
    padding-top: 64px;
  }

  &--tabs {
    padding-top: 104px;

    @media (min-width: 599px) {
      padding-top: 112px;
    }
  }

  &--important,
  &--important .vmo-component {
    z-index: 9999;
  }

  &--salesbar {
    bottom: 56px;
  }
}

.vmo-scrollable-area {
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;

  &--withInput {
    height: calc(100% - 64px);
  }

  .mat-sidenav-opened  &:not(.inside-sidenav) {
    overflow-y: hidden;
  }
}

.vmo-list {
  background: white;
  padding-bottom: 8px;
  @include mat-elevation(2);

  &--small {
    max-width: 600px;
  }

  .mat-list-item:not(:last-child) {
    border-bottom: 1px solid rgba(black, 0.12);
  }
}

.vmo-list-title {
  padding: 0 16px;
  background: white;

  span {
    display: block;
  }
}

.vmo-project-icon {
  background: map-get($mat-pink, 500);
  color: white;
  font-weight: 800;
}

.vmo-group-icon {
  background: #e2e2e2;
  color: rgba(black, 0.87);
  outline: 0;
  cursor: pointer;
}

.u-overflow-visible {
  overflow: visible !important;
}

.leaderboard-bar {
  overflow: hidden;
}

.clickable-bar .leaderboard-bar {
  transition: box-shadow 0.2s;
}

.clickable-bar:hover .leaderboard-bar {
  @include mat-elevation(5);
}

.clickable-bar:active .leaderboard-bar {
  transition: box-shadow 0.1s;
  @include mat-elevation(1);
}

.vmo-fixed-input {
  font-weight: 400;
  padding: 0 16px;
  flex: 1 1 auto;

  .mat-input-wrapper {
    padding-bottom: 0;
  }

  .mat-input-underline {
    opacity: 0;
  }

  .mat-input-placeholder {
    transform: none !important;

    &:not(.mat-empty) {
      display: none !important;
    }

    &,
    &.mat-focused {
      color: rgba(0, 0, 0, .38);
    }
  }

  .mat-input-subscript-wrapper {
    position: static;
  }
}

.sale-splash {
  background: #2979ff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  user-select: none;
  cursor: default;

  .mat-icon {
    height: 120px;
    width: 120px;
    font-size: 120px;
    color: white;
    margin-bottom: 24px;
  }

  .u-weak {
    color: rgba(white, 0.7);
  }
}

.vmo-leaderboard {
  padding-top: 0 !important;

  .mat-list-text {
    overflow: visible !important;
    padding-right: 0 !important;
  }

  .mat-list-item {
    border-bottom: 0 !important;
    height: 40px !important;

    &:not(:last-child) {
      margin-bottom: 24px !important;
    }

    &:last-child {
      margin-bottom: 8px !important;
    }
  }

  .mat-list-item-content {
    padding: 0 !important;
    height: 40px !important;
  }
}

.leaderboard-list {
  padding: 16px 0 !important;

  @media (min-width: 960px) {
    max-width: 960px;
    margin: 24px;
    padding: 16px !important;
  }

  .mat-list-text {
    overflow: visible !important;
    padding-right: 0 !important;
  }

  .mat-list-item {
    border-bottom: 0 !important;
    height: 64px !important;

    &:first-of-type {
      margin-top: 8px !important;
    }

    &:last-of-type {
      margin-bottom: 8px !important;
    }
  }
}

.strong {
  font-weight: 600 !important;
}

.leaderboard-bar {
  background: #f2f2f2;
  height: 14px;
  border-radius: 6px;
  margin-top: 8px !important;
  @include mat-elevation(1);
}

.leaderboard-progress {
  transform-origin: 0;
  border-radius: 7px;
  height: 100%;
  width: 0%;
  background: #2979ff;
  transition: width 0.4s ease-in-out;
  position: relative;
}

.leaderboard-title {
  span {
    line-height: 1 !important;
  }
}

.sales-amount {
  font-weight: 800 !important;
  font-size: 18px !important;
  padding-left: 8px;
}

.mat-input-container input {
  height: 19px;
}

.top-card.mat-card {
  position: relative;
  z-index: 1;
  padding-top: 16px;
  padding-bottom: 0;
}

.mat-input-container {
  width: 100%;
}

.u-top-spacing {
  @media (max-width: 960px) {
    padding-top: 16px;
  }
}

.u-push-down {
  margin-bottom: 84px;
}

.u-container {
  position: relative;

  @media (min-width: 960px) {
    max-width: 960px;
    margin: 24px;
  }
}

.u-center {
  margin: 0 auto;
}

.big-face {
  font-size: 100px;
  height: 100px !important;
  width: 100px !important;
}

.medium-face {
  font-size: 50px;
  height: 50px !important;
  width: 50px !important;
}

.sales-dialog .mat-dialog-container {
  background: #2979ff;
  padding: 24px !important;
  width: 600px;

  @media (max-width: 960px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    width: auto;
  }
}

.vmo-cropper {
  display: none;
}

.vmo-cropper--filled {
  display: block;
  margin-top: 12px;
  background: white;
}

.u-icon-highlight {
  color: #2979ff !important;
}

.u-avatar-colored {
  background: #FFAB00 !important;
  color: white !important;
  border: 2px solid white;
  @include mat-elevation(4);
}

.mat-dialog-actions {
  padding-top: 24px !important;
}

.u-horizontal-scrolling {
  overflow-x: auto;
}

.notify-indicator {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 3px;
  top: 6px;
  background: #FF4081;
  border-radius: 50%;
  animation: pulse 1.2s;
  animation-iteration-count: infinite;
  border: 1px solid rgba(white, 0.7);
  @include mat-elevation(4);
}

@keyframes pulse {
  0% {transform: scale(1);}
  35% {transform: scale(0.7);}
  100% {transform: scale(1);}
}

.fancy-background-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.fancy-background {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 60%;
  transform: skewY(-14deg);
  background: #B6CEF6;
}

.mat-simple-snackbar-action {
  text-transform: uppercase;
}

.vmo-container {
  max-width: 960px;
  padding: 12px;

  @media (min-width: 600px) {
    padding: 16px;
  }

  @media (min-width: 960px) {
    padding: 24px;
  }

  &.--fillOnMobile {
    @media (max-width: 600px) {
      padding: 0;
      margin-bottom: 12px;
    }
  }
}

.mat-divider {
  margin: 12px 0 24px !important;
}

.pushed-right {
  margin-top: -4px !important;
  margin-right: -16px !important;
}

.u-spacing-between {
  &:not(:last-child) {
    margin-bottom: 12px;

    @media (min-width: 600px) {
      margin-bottom: 16px;
    }

    @media (min-width: 960px) {
      margin-bottom: 24px;
    }
  }
}

.wall-of-fame-item {
  min-width: 120px;
  width: (100% / 7);

  &.--grid {
    margin-bottom: 48px;
  }
}

.u-push-down-on-mobile {
  @media (max-width: 600px) {
    margin-top: 24px;
  }
}