/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
    margin: 0;
}

html, body, md-sidenav-container {
    height: 100%;
}

md-sidenav {
    width: 200px;
}

md-list-item {
    position: relative;
}

.mat-sidenav-container {
    background: #f2f2f2;
}

[md-ripple] {
    cursor: pointer;
}

.comma-separated:not(:last-child)::after {
    content: ', ';
}

.toolbar-heading {
    padding: 0 16px;
}

.card-list .mat-list-item {
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.conversation {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100% - 122px);
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.conversation > div {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.conversation .mat-list-item:first-child {
    padding-bottom: 16px;
}

.conversation .mat-list-item:last-child {
    padding-top: 16px;
}

.conversation .mat-list-item-content:not(:last-child) {
    align-items: flex-start;
    height: 100% !important;
    margin-bottom: 16px;
}

.conversation .mat-card {
    padding: 12px;
    margin: 0 16px;
}

.bottom-input {
    position: fixed !important;
    bottom: 0;
    width: calc(100% - 32px);
    padding: 8px 16px 0 !important;
}

.bottom-input .mat-input-container {
    flex: 1 1 auto;
}

.bottom-input .mat-input-underline {
    opacity: 0;
}

.bottom-input .mat-input-placeholder {
    transform: none !important;
}

.bottom-input .mat-input-placeholder.mat-focused {
    color: rgba(0, 0, 0, .38);
}

.bottom-input .mat-input-placeholder:not(.mat-empty) {
    display: none !important;
}

.fill-space {
    flex: 1 1 auto;
}

.own-message {
    order: -1;
    background: #2175FF;
    color: white;
}

.component-wrapper {
    position: fixed;
    top: 0;
    background: #f2f2f2;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.stripped-card {
    padding: 0 !important;
}

.stripped-card .mat-list {
    padding-top: 0 !important;
}

.mat-toolbar {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.mat-progress-circle {
    margin: 24px auto;
}

.is-locked {
    opacity: 0.5;
}

.weak-text {
    color: #999;
}

.accent-icon-button:not([disabled]) {
    color: #2175FF !important;
}

.message span {
    font-weight: 100 !important;
}

.message h4 span {
    font-weight: 400 !important;
}

.new-message {
    background: white !important;
}

.new-message span {
    font-weight: 600 !important;
}

.new-message h4 span {
    font-weight: 800 !important;
}

.new-message {
    white: red !important;
}

.big-list-item {
    padding: 12px 0;
}

.mat-chip {
    margin-right: 8px;
    outline: none !important;
    cursor: pointer;
}

.card-list .mat-list-text {
    width: auto !important;
}

.timestamp {
    font-size: 14px;
}

.new-message .timestamp {
    font-weight: 600 !important;
}

.mat-tooltip {
    font-size: 11px !important;
}