@import '~@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-pink, 500);
$candy-app-accent:  mat-palette($mat-blue, A200, A100, A700);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

body {
    margin: 0;
}

html, body, md-sidenav-container {
    height: 100%;
}

md-sidenav {
    width: 200px;
}

md-list-item {
    position: relative;
}

.mat-sidenav-container {
    background: #f2f2f2;
}

[md-ripple] {
    cursor: pointer;
}

.comma-separated:not(:last-child)::after {
    content: ', ';
}

.toolbar-heading {
    padding: 0 16px;
}

.card-list .mat-list-item {
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.conversation {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100% - 122px);
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.conversation > div {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.conversation .mat-list-item:first-child {
    padding-bottom: 16px;
}

.conversation .mat-list-item:last-child {
    padding-top: 16px;
}

.conversation .mat-list-item-content:not(:last-child) {
    align-items: flex-start;
    height: 100% !important;
    margin-bottom: 16px;
}

.conversation .mat-card {
    padding: 12px;
    margin: 0 16px;
}

.bottom-input {
    position: fixed !important;
    bottom: 0;
    width: calc(100% - 32px);
    padding: 8px 16px 0 !important;
}

.bottom-input .mat-input-container {
    flex: 1 1 auto;
}

.bottom-input .mat-input-underline {
    opacity: 0;
}

.bottom-input .mat-input-placeholder {
    transform: none !important;
}

.bottom-input .mat-input-placeholder.mat-focused {
    color: rgba(0, 0, 0, .38);
}

.bottom-input .mat-input-placeholder:not(.mat-empty) {
    display: none !important;
}

.fill-space {
    flex: 1 1 auto;
}

.own-message {
    order: -1;
    background: #2175FF;
    color: white;
}

.component-wrapper {
    position: fixed;
    top: 0;
    background: #f2f2f2;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.stripped-card {
    padding: 0 !important;
}

.stripped-card .mat-list {
    padding-top: 0 !important;
}

.mat-toolbar {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.mat-progress-circle {
    margin: 24px auto;
}

.is-locked {
    opacity: 0.5;
}

.weak-text {
    color: #999;
}

.accent-icon-button:not([disabled]) {
    color: #2175FF !important;
}

.message span {
    font-weight: 100 !important;
}

.message h4 span {
    font-weight: 400 !important;
}

.new-message {
    background: white !important;
}

.new-message span {
    font-weight: 600 !important;
}

.new-message h4 span {
    font-weight: 800 !important;
}

.new-message {
    white: red !important;
}

.big-list-item {
    padding: 12px 0;
}

.mat-chip {
    margin-right: 8px;
    outline: none !important;
    cursor: pointer;
}

.card-list .mat-list-item {
    cursor: pointer;
    user-select: none;
}

.card-list .mat-list-text {
    width: auto !important;
}

.timestamp {
    font-size: 14px;
}

.new-message .timestamp {
    font-weight: 600 !important;
}

.mat-tooltip {
    font-size: 11px !important;
}

.mat-toolbar {
    position: relative;
    z-index: 2;
}

.stripped-list {
    padding: 0 !important;

    .mat-list-item-content {
        padding: 0 !important;
        height: 40px !important;
    }
}

.input-padding {
    padding: 16px 24px !important;
}

.feed-input {
    margin-bottom: 12px;

    .mat-input-wrapper {
        margin-top: 6px;
        margin-bottom: 0;
    }
    .mat-input-container {
        flex: 1 1 auto;
        width: 100%;
    }
    .mat-input-underline {
        opacity: 0;
    }
    .mat-input-placeholder {
        transform: none !important;

        &.mat-focused {
            color: rgba(0, 0, 0, .38);
        }
        &:not(.mat-empty) {
            display: none !important;
        }
    }
}

.avatar {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comments-card {
    background: #fafafa;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    height: 56px;
    padding: 0 16px !important;

    .mat-input-wrapper {
        margin: 0 !important;
        padding: 0 !important;
    }
}

.comments-input {
    padding: 0 16px;
}

.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .mat-card {
        max-width: 400px;
        width: 100%;
    }

    .mat-raised-button {
        margin-top: 12px;
    }

    .mat-input-container {
        width: 100%;
    }
}

.mat-sidenav {
    width: calc(100% - 56px);
    max-width: 320px;
}

.mat-sidenav {
    color: white !important;
    background: #253238 !important;

    .mat-icon-button {
        color: white !important;
    }

    .mat-list-icon {
        opacity: 0.5;
    }

    .mat-icon-button:not(:last-child) {
        margin-right: 12px;
    }

    .mat-toolbar {
        background: #36474F !important;
    }

    .mat-list-item {
        color: white !important;
    }
}