<div class="vmo-component">
  <vmo-toolbar title="Teams" mode="menu">
    <button md-icon-button routerLink="new">
      <md-icon>add</md-icon>
    </button>
  </vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <div class="vmo-scrollable-area">
      <md-list *ngIf="teams?.length" class="vmo-list">
        <md-list-item md-ripple
                      *ngFor="let team of teams"
                      [routerLink]="team.id"
                      class="u-clickable">

          <div md-list-avatar
               fxLayoutAlign="center center"
               class="vmo-group-icon">
            <md-icon md-list-icon>group</md-icon>
          </div>
          <h4 md-line class="mdc-typography--subheading1">
            {{ team.name }}
          </h4>
        </md-list-item>
      </md-list>

      <vmo-load-more-button [paginator]="teamList"></vmo-load-more-button>

      <div *ngIf="! teams?.length" class="u-stretch" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
        <span class="mdc-typography--headline">No teams, yet.</span>
        <span class="u-weak">Looks like you haven't created any teams.</span>
        <button md-raised-button color="accent" routerLink="new" class="u-push-button">Create a team</button>
      </div>
    </div>
  </vmo-progress-spinner>
</div>

<router-outlet></router-outlet>