<div class="vmo-component">
  <vmo-toolbar title="Sales" mode="menu">
    <button md-icon-button routerLink="add">
      <md-icon>add</md-icon>
    </button>
  </vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <div class="vmo-scrollable-area">
      <md-list class="vmo-list">
        <md-list-item
                class="u-clickable">
          <md-checkbox [(ngModel)]="selectAll"></md-checkbox>
        </md-list-item>

        <md-list-item md-ripple
                      routerLink="../1"
                      *ngFor="let sale of sales"
                      class="u-clickable">

          <md-checkbox [checked]="selectAll"></md-checkbox>
        </md-list-item>
      </md-list>

      <vmo-load-more-button [paginator]="salesList"></vmo-load-more-button>
    </div>
  </vmo-progress-spinner>
</div>

<router-outlet></router-outlet>