<div class = "component-wrapper">
  <sf-toolbar mode="back" title="Participants">
    <button md-icon-button [routerLink] = "'add'">
      <md-icon>add</md-icon>
    </button>
  </sf-toolbar>

  <div [fxShow]="isLoading">
    <md-progress-circle mode="indeterminate" color="accent"></md-progress-circle>
  </div>

  <md-card class = "stripped-card" [fxHide]="isLoading">
    <md-list class = 'card-list'>
      <md-list-item *ngFor = "let participation of (conversation | async)?.participations | participating">
        <img md-list-avatar src="http://lorempixel.com/40/40">
        <h4 md-line>{{ participation.user.name }}</h4>
        <span class = "fill-space"></span>
        <button md-icon-button (click) = 'removeParticipant(participation)'>
          <md-icon>remove_circle_outline</md-icon>
        </button>
      </md-list-item>
    </md-list>
  </md-card>
</div>

<router-outlet></router-outlet>