<div class="vmo-component">
  <vmo-toolbar title="" mode="close"></vmo-toolbar>

  <form novalidate (submit)="submit(nameInput.value); $event.preventDefault()">
    <div class="container">
      <md-card>
        <span class="mdc-typography--display1">Create Team</span>
        <p class="mdc-typography--body1 u-weak">Teams help organize users in a project. Give your new team a suiting name!</p>
        <div class="u-vertical-spacing">
          <md-input-container color="accent">
            <input #nameInput mdInput placeholder="Team Name">
          </md-input-container>
        </div>
        <button md-raised-button color="accent">Create</button>
      </md-card>
    </div>
  </form>
</div>