<div class="vmo-component vmo-component--important">
  <vmo-toolbar title="Wall of Fame" mode="close"></vmo-toolbar>

  <vmo-progress-spinner [hasLoaded]="! loading">
    <div class="vmo-scrollable-area">
      <div class="vmo-container --fillOnMobile">
        <md-card class="u-spacing-between">
          <span class="mdc-typography--headline strong">
            Daily Top
          </span>
          <md-divider></md-divider>
          <span *ngIf="!dailyAwards?.length"
                class="mdc-typography--body1 u-weak">No daily top teams calculated yet. Check back tomorrow!</span>
          <div *ngIf="dailyAwards?.length">
            <md-grid-list [cols]="columns" [gutterSize]="gutter" rowHeight="180">
              <md-grid-tile *ngFor="let award of dailyAwards" [class.u-faded]="award.awardable.deletedAt">
                <div fxLayout="column"
                     fxLayoutAlign="center center"
                     fxLayoutGap="12px">
                  <div class="u-avatar u-default-avatar u-avatar--big u-center u-clickable u-elevated"
                       fxLayoutAlign="center center"
                       [routerLink]="'../../../teams/' + award.awardable.id">
                    <md-icon class="medium-face team-icon">group</md-icon>
                  </div>
                  <div class="u-ellipsis u-text-center" style="width: 100%">
                    <div class="mdc-typography--caption u-weak u-text-center">{{ formatDay(award.day) }}</div>
                    <span class="mdc-typography--title wall-of-fame-name strong">
                      {{ award.awardable.name }}
                    </span>
                    <div class="mdc-typography--subheading strong u-text-center">
                      <md-icon class="u-weak u-push-right u-tad-down u-trophy-color --bronze">star</md-icon>
                      {{ award.value | value:project }}
                    </div>
                  </div>
                </div>
              </md-grid-tile>
            </md-grid-list>
          </div>
        </md-card>
        <vmo-load-more-button [paginator]="dailyTeamAwardListService"></vmo-load-more-button>
      </div>
    </div>
  </vmo-progress-spinner>
</div>